body {
	background-image: url("http://cdn.wallpapersafari.com/80/91/PAIG7h.jpg");
	background-repeat: no-repeat;
	background-size: 1500px 9000px;
	font-family: verdana;
}
h1 {
    text-align: center;
	font-family: tahoma;
	color: black;
	font-size: 40px;
	padding: 0px;
}
h2.day {
	color: black;
}	
h2.week {
	margin:50px;
}
p.ref1 {
	margin-left: 50px;
	margin-bottom: 50px;
	color: black;
}
h2.reftitle {
	margin-left: 50px;
	color: blueviolet;
}
div.name {
	background-color: powderblue;
	color:white;
	padding:20px;
}
	
div ul.name {
    list-style-type: none;
    margin: 2px;
    padding: 20;
    overflow: hidden;
	background-color: white;
}
div li.name {
    float: left;
}

div li a.name {
	display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
div li a.name:hover{
    background-color: lightcyan;
}

img src {
	margin-bottom: 50px:
}
div.core4 {
	margin-left: 50px;
}
